* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--index: calc(1vw + 1vh);
--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
--gap: 1rem;
}

@font-face {
  font-family: raleway_f;
  src: url(../public/fonts/raleway-black.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../public/fonts/raleway-regular.woff2);
  font-weight: 900;
}

body {
  font-family: railway_f, sans-serif;
  line-height: 1.55;
}

